@page "/"

<PageTitle>Home</PageTitle>

<h1>Добро пожаловать в систему E-commerce!</h1>

<p>Это учебный проект, демонстрирующий работу микросервисной архитектуры.</p>

<p>Используйте навигационное меню слева, чтобы управлять счетами и заказами.</p> 